<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com" defer></script>
</head>
<body class="h-screen">
    <h1 class="flex items-center text-xl text-white h-14 p-2"
        style="background-image: linear-gradient(to right, rgba(106, 164, 184, 0.95) 0%, rgb(85, 126, 187) 100%);">
        iDAI.mining-shapes
    </h1>
    <div class="h-5/6 flex flex-col items-center justify-center">
       
        <form action="/upload" method="post" enctype="multipart/form-data" class="flex gap-1">
            <input type="file" name="file" accept="image/*" required>  
            <button type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-14 p-2 hover:bg-gray-200">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5" />
                </svg>
            </button>
        </form>      
    </div>
    <a href="/docs">Test</a>
</body>
</html>